body {
    background-color: powderblue;
}

.cutedog {
    height: 50px;
    width: 50px;
}

.Container {
    position: relative;
    text-align: center;
}

#cavapoo {
    width: 500px;
    margin: 20px;
}

.words {
    color: yellow;
    border-style: dotted;
    border-width: thin;
    text-shadow: 5px 5px 5px orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Dogtreats {
    float: left;
    border-radius: 30px;
    background: royalblue;
    padding: 20px;
    width: 200px;
    height: 100px;
}

#dogtreats {
    width: 150px;
}

